.register {
    border-top: solid rgb(31, 172, 130) 2px;
    border-bottom: solid rgb(31, 172, 130) 2px;
    padding: 1rem;
    margin: 0 5rem;
    text-align: center;
}

.register-header {
    font-weight: bolder;
    font-size: larger;
    display: block;
    padding: 0.5rem;
}

.register-form {
    display: inline-block;
    width: 50%;
    border: solid #ffffff 1px;
}

input {
    border: none;
    border-bottom: solid #ffffff 1px;
    border-top: solid #ffffff 1px;
    box-sizing : border-box;
    transition: all ease 250ms;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}
input:hover {
    box-shadow: inset 0 0 0.25rem #43A689;
}

input[type='text'] {
    padding: 7px;
    margin-bottom: 5px;
    width: 100%;
}
input[type='text']:hover {
    border-color: #43A689;
}


input[type='submit'] {
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
}
input[type='submit']:hover {
    background-color: #43A689A1;
    border-color: #43A689;
}