$background: #5BC0BE;

.task {
    font-family: 'Archivo Narrow', sans-serif;
    max-width: 25vh;
    max-height: 25vh;
    padding: 5px 10px 10px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    color: black;
    background-color: $background;
    transition: all ease 250ms;
}
.task:hover {
    //background-color: rgba(132, 207, 149, 0.95);
    background-color: rgba(95, 222, 202, 0.95);
}

.task-header {
    font-weight: bold;
    border-bottom: solid #D0E0CA 2px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    display: block;
    word-wrap: break-word;
}

.task-date * {
    margin-right: 0.25rem;
}

.task-finish {
    background-color: rgba(0, 202, 47, 0.95);
}
.task-finish:hover {
    background-color: rgba(0, 202, 47, 0.95);
    box-shadow: 0 0 1rem rgba(0, 202, 47, 0.95);
}

.task-doing {
    border: solid greenyellow 2px;
    box-shadow: 0 0 1rem greenyellow;
}

.task-today {
    border: solid orange 2px;
    box-shadow: inset 0 0 0.5rem orange;
    border-radius: 4px;
}
.task-today .task-deadline {
    color: orangered;
}

.task-late {
    border: solid red 2px;
    border-radius: 4px;
    box-shadow: inset 0 0 1rem red;
}
.task-late .task-deadline {
    color: red;
    padding: 0 4px;
}